{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div class="w-25 m-auto mt-5">
    {% if messages %}
    {% for msg in messages %}
    <p class="text-{{msg.tags}} fs-3">{{msg}}</p>
    {% endfor %}
    {% endif %}
</div>
</div>
<div class="w-25 m-auto border rounded-3 p-5 mt-5">
    <h3 class="">User Information:</h3> <hr>
    <p class="fs-5"><strong>Username:</strong> {{object.username}}</p>
    <p class="fs-5"><strong>Full Name:</strong> {{object.first_name}} {{object.last_name}}</p>
    <p class="fs-5"><strong>email:</strong> {{object.email}}</p>
    <a href="{% url "edit_profile" %}" class="btn btn-primary mx-2">Edit Pofile</a>
    <a href="{% url "edit_password" %}" class="btn btn-warning">Edit Password</a>
</div>

<div class="  border rounded-3 m-5 p-5">
    <h1 class="my-5">Order History:</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">OrderId</th>
      <th scope="col">Car Name</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for h in history %}
    <tr>
      <th scope="row">EC-{{h.id}}</th>
      <td>{{h.name}}</td>
      <td>{{h.brand}}</td>
      <td>{{h.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock content %}